#input_code {
  border: 1px solid #aaaaaa;
  min-height: 400px;
  height:auto !important;
  height: 400px;
  min-width: 40px;
  margin-bottom: 5px;

  div.syntax {
    padding: 0.5em;
    text-align: center;
    font-size: 18px;
    border-width: 2px;
    border-color: #aaaaaa;
    cursor: move;
  }

  div.plain {
    display: inline-block;
  }

  div.child-line {
    padding: 0.2em;
    background-color: lightpink;
    color: #fff;
    display: inline-block;
    border-color: #aaaaaa;
  }

  background: url('//raw.githubusercontent.com/SBR2015/ootalk-static/master/images/ootalk_background.png') no-repeat 10px 30px;
}
