#lesson-list {
  background-color: #f7f7f7;
  padding-bottom: 20px;
  padding-top: 20px;
  // text-align: center;

  div {
    background-color: #fff;
    display: inline-block;
    font-size: large;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top: 10px;
    padding-left: 100px;
    padding-top: 20px;
    width: 80%;

    i {
      color: #ff6666;
      margin-right: 30px;
    }
  }

  div:hover{
    background-color: #ff6666;
    color: #fff;

    i {
      color: #fff;
    }
  }
}
